.entry{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 500px;
    gap:60px;
    margin:10px;
    border-radius: 9px;
    transition: 0.3s;
    width:230px
    
    /* padding: 80px; */
}

h3{
    margin-top: 40px;
    color: black;
}
.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:10px
}
.entry:hover{
    transform: scale(1.09);
    box-shadow: 2px 2px 40px white;
}